<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dr8.sbicons"
    android:versionCode="2"
    android:versionName="@string/version" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/sbicons"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".mod.StatusBarModsSettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".mod.QSSortActivity"></activity>
        <activity android:name=".mod.IconPackActivity"></activity>
        <activity android:name=".mod.AboutActivity"></activity>
        <meta-data android:value="true" android:name="xposedmodule"/>
        <meta-data android:value="2.0*" android:name="xposedminversion"/>
        <meta-data android:value="Mod to change statusbar icons &amp; bg transparency, clock visibility, %battery, and other items" android:name="xposeddescription"/>
        

    </application>

</manifest>
